.App {
  text-align: center;

}

body{
  background-color: rgba(0, 0, 0, 0.849);
  color: #e3dfe4;
  
}


.option {
  padding: 10px 10px ;
  cursor: pointer;
}

.option:hover {
  /* background-color: #ba17df */
  transform: scale(110%);
 }

.selected-option {
  font-weight: bold;
  background-color: #ba17df;
  
  }

  .card {
    background-color: transparent;
    border: none;
    
       
}


img {
  margin: 0;
}

  figure {
    margin-bottom: 0;
    margin-top: 50px;
  }

.color-label {
  font-size: 1.5rem;
}

.texto {
  width: 300px;
  word-break: break-all;
  left: 50%; 
  transform: translateX(-50%);
}

.imgFigure {
  max-height: 500px;
  max-width: fit-content;
}

.img-carousel {
height: 200px;
width: 300px;
transition: transform 0.3s ease; 
transform-origin: center center; 
overflow: hidden;
}

.img-carousel:hover {
  transform: scale(1.2);

  }

.Carousel__Item-sc-hyhecw-5 {
  overflow: hidden;
}

.Carousel__Container-sc-hyhecw-0 {
  margin-top: 30px;
}

